<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <header>
    <h1>Inventory Management — Reagan Otema</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/inv/">Inventory Management</a>
    </nav>
  </header>
  <main>
